 .u-section-1 {
  background-image: linear-gradient(#adf6f2, #77aad9);
}

.u-section-1 .u-sheet-1 {
  min-height: 1276px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 13px auto 0;
}

.u-section-1 .u-image-1 {
  width: 384px;
  height: 511px;
  margin: 30px 129px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: -46px 149px 0 941px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: -475px 570px 0 91px;
}

.u-section-1 .u-shape-1 {
  width: 158px;
  height: 36px;
  margin: 73px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: 30px 631px 0 30px;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  margin: -77px 91px 0 570px;
}

.u-section-1 .u-image-2 {
  width: 357px;
  height: 169px;
  margin: -218px auto 0 30px;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  margin: 94px 45px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1338px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 12px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 39px;
    margin-right: 39px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 261px;
    margin-right: 49px;
    margin-left: 841px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -797px;
    margin-right: 446px;
    margin-left: 47px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 27px;
  }

  .u-section-1 .u-text-4 {
    width: 479px;
    margin-top: 39px;
    margin-right: 461px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 461px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -201px;
    margin-left: 44px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 86px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2102px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 13px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 35px;
    margin-right: 145px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -40px;
    margin-right: 163px;
    margin-left: 507px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 49px;
    margin-right: 114px;
    margin-left: 160px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    width: 565px;
    margin-top: 258px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: -428px;
    margin-left: 160px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 294px;
    margin-bottom: 49px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2150px;
  }

  .u-section-1 .u-text-1 {
    width: 366px;
    margin-top: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 36px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 979px;
    margin-right: 60px;
    margin-left: 430px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -987px;
    margin-left: 47px;
    margin-right: 47px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -1px;
  }

  .u-section-1 .u-text-5 {
    width: 540px;
  }

  .u-section-1 .u-image-2 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2534px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 452px;
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -35px;
    margin-right: 16px;
    margin-left: 274px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 28px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 16px;
  }

  .u-section-1 .u-text-4 {
    width: 340px;
    margin-top: 11px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 240px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    height: 161px;
    margin-top: -519px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-6 {
    margin-top: 394px;
    margin-bottom: 36px;
  }
} .u-section-2 {
  background-image: linear-gradient(#77aad9, #77aad9);
}

.u-section-2 .u-sheet-1 {
  min-height: 1079px;
}

.u-section-2 .u-shape-1 {
  width: 158px;
  height: 36px;
  margin: 18px auto 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  width: 674px;
  margin: 27px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 50px 70px 0 529px;
}

.u-section-2 .u-image-1 {
  width: 409px;
  height: 621px;
  margin: -77px auto 0 50px;
}

.u-section-2 .u-text-3 {
  margin: -45px 717px 0 373px;
}

.u-section-2 .u-image-2 {
  width: 466px;
  height: 107px;
  margin: -498px 136px 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  margin: 27px 70px 0 529px;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  margin: 31px 19px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1182px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 70px;
    margin-right: -38px;
    margin-left: 437px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -143px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -48px;
    margin-right: 574px;
    margin-left: 317px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -413px;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 42px;
    margin-right: -38px;
    margin-left: 437px;
  }

  .u-section-2 .u-text-5 {
    width: 676px;
    margin-top: 42px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1726px;
  }

  .u-section-2 .u-text-2 {
    width: 431px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: 40px;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: -46px;
    margin-right: 464px;
    margin-left: 207px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 43px;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: 40px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 49px;
    margin-left: 22px;
    margin-right: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1866px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 374px;
    margin-left: 117px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 38px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 22px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2175px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 33px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    margin-top: 32px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 516px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -26px;
    margin-right: 12px;
    margin-left: 279px;
  }

  .u-section-2 .u-image-2 {
    height: 78px;
    margin-top: 84px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: 28px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 58px;
    margin-bottom: 33px;
  }
} .u-section-3 {
  background-image: linear-gradient(#77aad9, #77aad9);
}

.u-section-3 .u-sheet-1 {
  min-height: 1266px;
}

.u-section-3 .u-shape-1 {
  width: 158px;
  height: 36px;
  margin: 19px auto 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  width: 674px;
  margin: 19px auto 0;
}

.u-section-3 .u-image-1 {
  width: 431px;
  height: 462px;
  margin: 59px 88px 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: -462px 636px 0 48px;
}

.u-section-3 .u-image-2 {
  width: 399px;
  height: 81px;
  margin: 19px auto 0 35px;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  margin: 31px 636px 0 48px;
}

.u-section-3 .u-image-3 {
  width: 208px;
  height: 126px;
  margin: 18px auto 0 131px;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  margin: 31px 554px 0 7px;
}

.u-section-3 .u-image-4 {
  width: 317px;
  height: 45px;
  margin: 35px auto 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.5rem;
  width: 908px;
  margin: 18px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1314px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 46px;
    margin-right: 39px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -327px;
    margin-right: 484px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 229px;
    margin-right: 383px;
    margin-left: 101px;
  }

  .u-section-3 .u-image-3 {
    width: 193px;
    height: 117px;
    margin-top: -89px;
    margin-right: 263px;
    margin-left: auto;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 11px;
    margin-left: 71px;
    margin-right: 71px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 46px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin: 46px 16px 19px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1726px;
  }

  .u-section-3 .u-image-1 {
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    margin-right: 146px;
    margin-left: 118px;
  }

  .u-section-3 .u-image-2 {
    margin-left: auto;
  }

  .u-section-3 .u-text-3 {
    margin-right: 241px;
    margin-left: 23px;
  }

  .u-section-3 .u-image-3 {
    margin-right: 88px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: -23px;
    margin-left: 23px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1882px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 56px;
    margin-left: 28px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 84px;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    width: 175px;
    height: 106px;
    margin-right: 5px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2282px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 40px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    height: 364px;
    margin-top: 323px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: -634px;
    margin-right: -12px;
    margin-left: 12px;
  }

  .u-section-3 .u-image-2 {
    height: 69px;
    margin-top: 33px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-3 {
    margin-top: 456px;
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    margin-top: 42px;
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    margin-top: 39px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 53px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 42px;
    margin-bottom: 40px;
  }
}