{% extends 'main/base.html' %}

{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <h1>Добро пожаловать</h1>
    <hr>
    <h6 class="description">На данном сайте вы сможете найти множество формул по фзике которые помогут при решении задач</h6>
    <h6 class="description">Списки формул со временем будут пополняться. Надеюсь вы сможете найти нужную информацию. Желаю удачи!</h6>
    <hr>
    <div>
    <h4 class="title">Категории</h4>
    <ul>
        <li><a href="{% url 'Kinematika' %}">Кинематика</a></li>
        <li><a href="{% url 'Kinematika' %}">Динамика</a></li>
        <li><a href="{% url 'Kinematika' %}">Статика</a></li>
        <li><a href="{% url 'Kinematika' %}">Плотность и Давление</a></li>
    </ul>
    </div>

{% endblock %}
